<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="加意新品(jiae.com)是一种创意的生活方式，让每个人享受设计的乐趣，每天加一点创意。 对于消费者，你可以抢鲜购买到原创的设计精品，也可以找到设计师为你提供专属的创意设计服务。 对于设计师，你可以免费发布设计新品和设计服务，帮助你自由实现设计梦想。">
    <meta name="keywords" content="创意电商、新品电商、创意产品、创意家居、创意设计、创意礼物、创意生活、设计师、极客">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <title>加意新品</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="../assets/i/favicon.ico">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../assets/i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="../assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/public.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <style type="text/css">
    	body {margin: 0;background: #fff;font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
			  font-weight: 400;color: #333;font-size: 1.6rem;}
		#nav>.brand-logo-div {width: 100%;height: 100%;background-color: none !important;position: absolute;top: 0px;text-align: center;}
    	.brand-logo-div img {width: 15%;left: 42.5%;top: 5%;position: relative;}
		.am-img-responsive {display: block;max-width: 100%;height: auto;}
		img {box-sizing: border-box;vertical-align: middle;}
		.brand-title {margin: 0 auto;color: #333333;font-size: 1.5rem;}
		*+address, *+blockquote, *+dl, *+fieldset, *+figure, *+hr, *+ol, *+p, *+pre, *+ul {margin-top: 1.6rem;}
		*, :after, :before {box-sizing: border-box;}
		.am-badge-danger {background-color: #dd514c;}
		.am-badge {display: inline-block;min-width: 10px;padding: .25em .625em;font-size: 1.2rem;font-weight: 700;
   				 color: #fff;line-height: 1;vertical-align: baseline;white-space: nowrap;/*background-color: #999;*/}
    </style>
</head>

<body style="background-color: #f7f7f7;" class="am-with-fixed-header am-with-fixed-navbar">

  	
    <div ng-view id="myAPP"></div>
    <!--底部-->
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
        <ul id="container" class="am-navbar-nav am-cf am-avg-sm-4" style="background-color:#fff;" id="J-footer-menu">
            <!--底部 首页-->
            <li>
                <a href="index.html" class="" id="home">
                    <span id="homeIcon" class="am-icon-home footerTitleMiao headIcon"></span>
                    <span id="homeTitle" class="am-navbar-label footerTitleFont headTitle">首页</span>
                </a>
            </li>
            <!--底部 分类-->
            <li>
                <a href="catalog.html" class="" id="typelist">
                    <span id="typelistIcon" class="am-icon-bars footerTitleMiao headIcon"></span>
                    <span id="typelistTitle" class="am-navbar-label footerTitleFont headTitle">分类</span>
                </a>
            </li>
            <!--加入购物车 数字变化-->
            <li>
                <a href="shopcar.html" class="" id="cart">
                    <span id="cartIcon" class="am-icon-shopping-cart footerTitleMiao headIcon" style="position:relative;">
                  <span class="am-badge am-badge-danger am-round" id="J-cart-num" 
                  style="position: absolute;top: -.2rem;left: .8rem;color: #fff;border-radius: 1000px;
                  -webkit-text-fill-color: #fff;-webkit-text-stroke-color: #fff;font-weight: 300;display:none;">
                  0</span>
                    </span>
                    <span id="cartTitle" class="am-navbar-label footerTitleFont headTitle">购物车</span>
                </a>
            </li>
            <!--底部登陆-->
            <li>
                <a href="login.html" id="login">
                    <!-- <a id="J-hd-btn-login" href="login"> -->
                    <span id="loginIcon" class="am-icon-user footerTitleMiao headIcon"></span>
                    <span id="loginTitle" class="am-navbar-label footerTitleFont headTitle">登录</span>
                </a>
            </li>
        </ul>
    </div>
    <!--在这里编写你的代码-->
    <!--头部-->
	<header data-am-widget="header" class="am-header am-header-default am-header-fixed am-no-layout">
	<div class="am-header-left am-header-nav">
		<a href="brand_area.html" class=""> <img class="am-header-icon-custom" src="data:image/svg+xml;charset=utf-8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 12 20&quot;&gt;&lt;path d=&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill=&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt="">
		</a>
	</div>
	<h1 class="am-header-title header_title">
		<a href="#" class="" id="headerTitle"></a>
	</h1>
	<div class="am-header-right am-header-nav">
		<a href="myaccount?target=orderlist?pageNo=1" class="j-my-cog"> <i class="am-header-icon am-icon-cog"></i>
		</a>
	</div>
	</header>
	
	
	<!--封面图-->
	<div style="width:100%;position: relative;" id="nav">
	<!--封面大图-->	
	<img src="" class="am-img-responsive" alt="" id="cover">
		<!--封面logo图-->
		<div class="brand-logo-div" style="background-color: rgba(255,255,255,0.3);"><img class="am-img-responsive brand-logo" src="" id="logo">
		<p class="brand-title" id="coverName"></p>
		<p class="brand-title" style="margin-top: -2%;" id="coverCountry"></p>
		<p class="brand-title" style="margin-top: -3%;" id="coverUrl"></p>
		</div>
	</div>
	
	<!--文字简介-->
	<div class="am-article-bd">
    <p class="am-article-lead" id="content"></p>
    </div>
    
    <!--品牌介绍  商品列表-->
   	  <div class="am-tabs" id="doc-my-tabs">
   	<!--选项卡-->
	  <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify brand_lists">
	    <li class="am-active"><a href="javascript:;">品牌介绍</a></li>
	    <li class=""><a href="javascript:;">商品列表</a></li>
	  </ul>
  <div class="am-tabs-bd brand_box" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
     <!--选项卡左侧 品牌介绍-->
     <div class="am-tab-panel am-active am-in">
				<div id="brandInfo" style="width:100%">	<p><img src="" id="introduce" style="width: 100%;"></p> </div>
	  </div>
	 <!--选项卡右侧 商品列表-->
      <div class="am-tab-panel">
		 <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2    am-avg-md-2 am-avg-lg-2 am-gallery-default am-no-layout" data-am-gallery="{ pureview: false }">
		      <li>
		       		<div class="am-gallery-item">
		            	<a href="javascript:;" id="sp">
		            		<!--商品图片-->
	            	 		 <div class="productImg">
	                          <img class="tm-circle" src="" alt="" id="goodsPic">
	                          </div>
		                  </a><a href="##" class="am-icon-btn am-icon-shopping-cart productShopping am-icon-sm cartIconA j-btn-catalog" data-id="1012437" id="shopping_cart"></a>
		                  <h3 class="am-gallery-title productDescT" style="margin-top: -30px;" id="goodsStyle"></h3>
				       	  <!--商品名称-->
				       	  <span class="am-gallery-desc productDesc productDescT" id="goodsName"></span>
				       	  <!--商品价格-->
	                      <span class="am-gallery-desc productDesc productDescT" style="color:red;" id="goodsPrice"> 
	                      </span>
			        </div>
		      </li>
		      
		   </ul>
	 </div>
  </div>
  
  	  <!--购物车 遮罩层-->
  	<div id="cart_mask" data-am-dimmer class="am-dimmer"></div>
  	<!--购物车弹框-->
  	<div class="am-modal am-modal-alert" tabindex="-1" id="jiae-alert" style="display: none; margin-top: -66px;">
	  	<div class="am-modal-dialog">
		    <div class="am-modal-hd">消息</div>
		    <div class="am-modal-bd" id="alertMsg">加入购物车成功！</div>
		    <div class="am-modal-footer">
		    <span class="am-modal-btn" id="cart_sure">确定</span>
	    </div>	
	  </div>
    </div>


   <script src="../assets/js/jquery.min.js"></script>
   <script src="../assets/js/main.js"></script>
   <script src="../assets/js/amazeui.min.js"></script>
   <!--<script src="assets/js/jquery.touch.js" type="text/javascript" charset="utf-8"></script>-->
   <script src="../assets/js/address.js" type="text/javascript" charset="utf-8"></script>
   <script type="text/javascript">
   
   var id=location.search.split("=")[1];
   //品牌介绍 商品列表 选项卡
   	$('.brand_lists>li').click(function(){
   		$(this).addClass('am-active').siblings().removeClass('am-active');
   		$('.brand_box>div').eq($(this).index()).addClass('am-active am-in');
   		$('.brand_box>div').eq($(this).index()).siblings().removeClass('am-active am-in');
   	});
   	
   
   	
	//动态添加商品列表中的商品
   	$.get("/num",{num:id},function(result){
   			console.log(result)
   			$("#headerTitle").html(result[0].name);
   			$("#coverCountry").html(result[0].country);
   			$("#coverUrl").html(result[0].url);
   			$("#coverName").html(result[0].name);
   			$("#logo").attr("src",ADDRESS + result[0].logo_img);
   			$("#cover").attr("src",ADDRESS + result[0].cover_img);
   			$("#sample").attr("src",result[0].sample_img);
   			$("#introduce").attr("src",ADDRESS + result[0].html);
   			$("#content").html(result[0].content);
   			$('#goodsName').html(result[0].name+'·'+result[0].country);
   	});
   	$.get("/deta",{deta:id},function(result){
   		console.log(result);
   		$("#goodsStyle").html(result[0].title);
   		$("#goodsPrice").html('￥'+result[0].price);
   		$('#goodsPic').attr("src","../assets/i/shoping-img/"+result[0].pic1+".jpg");
   		
   		$('#sp').click(function(){
   			location.href="goods.html";
      		gdsid=result[0].id;
      		location.replace("/views/goods.html?gdsid=" + gdsid);
      	});
   		
   	});
   	
   	//加入购物车
   	var cart_num=0;
   	$('#shopping_cart').click(function(){
   		cart_num++;
   		//遮罩层样式
   		$('#cart_mask').addClass('am-active').css('display','block');
   		//弹框及底部数字样式
   		$('#jiae-alert').addClass('am-modal-active').css('display','block');
   		$('#J-cart-num').css('display','block').text(cart_num);
   		txt = $(this).next('h3').text();
					prc = $(this).next('h3').next('span').next('span').text();
					prc = prc.split('￥')[1];
					//console.log(prc);
					$.get("/goods_type_id", function(result) {
						$.each(result,function(index, item){
							if(txt == item.title){
								gss = item.id;
							}
						});
						//商品信息加入数据库(购物车)
						$.post("/shopcart", {
			       			gsid:gss,
			       			usid:1,
			       			cnt:1,
			       			sprice:prc,
			       			price:prc
		       			});
					});	
   	});
   	//购物车弹框 确定按钮 点击
   	$('#cart_sure').click(function(){
   		$('#cart_mask').removeClass('am-active').css('display','none');
   		$('#jiae-alert').removeClass('am-modal-active').css('display','none');
   	})
   	//购物车遮罩层 点击
   	$('#cart_mask').click(function(){
   		$('#cart_mask').removeClass('am-active').css('display','none');
   		$('#jiae-alert').removeClass('am-modal-active').css('display','none');
   	})
  </script>	
</body>
</html>