<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="加意新品(jiae.com)是一种创意的生活方式，让每个人享受设计的乐趣，每天加一点创意。 对于消费者，你可以抢鲜购买到原创的设计精品，也可以找到设计师为你提供专属的创意设计服务。 对于设计师，你可以免费发布设计新品和设计服务，帮助你自由实现设计梦想。">
    <meta name="keywords" content="创意电商、新品电商、创意产品、创意家居、创意设计、创意礼物、创意生活、设计师、极客">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <title>加意新品</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="../../assets/i/favicon.ico">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../../assets/i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="../../assets/i/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../../assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="../../assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../../assets/css/center.css">
    <link rel="stylesheet" href="../../assets/css/public.css">
    <link rel="stylesheet" href="../../assets/css/home.css">
</head>

<body style="background-color:white;" class="am-with-fixed-header  am-with-fixed-navbar">
    <div ng-view id="myAPP"></div>
    <!--底部-->
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
        <ul id="container" class="am-navbar-nav am-cf am-avg-sm-4" style="background-color:#fff;" id="J-footer-menu">
            <li>
                <a href="../index.html" class="" id="home">
                    <span id="homeIcon" class="am-icon-home footerTitleMiao  headIcon"></span>
                    <span id="homeTitle" class="am-navbar-label footerTitleFont  headTitle">首页</span>
                </a>
            </li>
            <li>
                <a href="../catalog.html" class="" id="typelist">
                    <span id="typelistIcon" class="am-icon-bars footerTitleMiao headIcon"></span>
                    <span id="typelistTitle" class="am-navbar-label footerTitleFont headTitle">分类</span>
                </a>
            </li>
            <li>
                <a href="../shopcar.html" class="" id="cart">
                    <span id="cartIcon" class="am-icon-shopping-cart footerTitleMiao headIcon" style="position:relative;">
                  <span class="am-badge am-badge-danger am-round" id="J-cart-num" 
                  style="position: absolute;top: -.2rem;left: .8rem;color: #fff;border-radius: 1000px;-webkit-text-fill-color: #fff;-webkit-text-stroke-color: #fff;font-weight: 300;display:none;">
                  0</span>
                    </span>
                    <span id="cartTitle" class="am-navbar-label footerTitleFont headTitle">购物车</span>
                </a>
            </li>
            <li>
                <a href="../login.html" id="login">
                    <!-- <a id="J-hd-btn-login" href="login"> -->
                    <span id="loginIcon" class="am-icon-user footerTitleMiao headIcon"></span>
                    <span id="loginTitle" class="am-navbar-label footerTitleFont headTitle">登录</span>
                </a>
            </li>
        </ul>
    </div>
    <!--在这里编写你的代码-->
    <!--头部开始-->
    <style type="text/css">
    	.link{
    		display: block;
    	}
    </style>
    <header data-am-widget="header" class="am-header am-header-fixed  am-header-default am-no-layout">
    	<div class="am-header-left am-header-nav">
    		<a href="javascript:window.history.back();" class>
    			<img class="am-header-icon-custom" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAyMCI+PHBhdGggZD0iTTEwLDBsMiwybC04LDhsOCw4bC0yLDJMMCwxMEwxMCwweiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg=="/>
    		</a>
    	</div>
    	<h1 class="am-header-title">
    		<a href="#" class="pagename">加意新品</a>
    	</h1>
    	<div class="am-header-right am-header-nav">
    		<a href="javascript:;" class="link">
    			<i class="am-header-icon am-icon-cog "></i>
    		</a>
    	</div>
    </header>
    <!--头部结束-->
	<div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi am-jiaecontent-one am-no-layout">
        <h2 class="am-titlebar-title">退换货及退款流程</h2>
    </div>
    <div class="am-jiaecon-two">
        <p class="jiaecon-p2">
            <span style="font-weight:700; color:#e74144;">退换货服务说明：</span>
        </p>
        <img class="jiaecon-img02" src="../../assets/i/personallogo/10.png">
        <p class="jiaecon-p2">
            <span style="font-weight:700; color:#e74144;">退款流程：</span>
        </p>
        <p class="jiaecon-p8">
           1.&nbsp;<span style="font-weight:700; color:#e74144;">8小时极速办理退款。</span>如果你对收到的产品不满意，只需一个电话：4000-999-637，超便捷快速退货，包裹退仓后，8小时之内快速办理退款。
        </p>
        <p class="jiaecon-p2">
            2.&nbsp;<span style="font-weight:700; color:#e74144;">支付宝、块钱、网银、优惠券付款的用户，我们将在1-3个工作日于原支付方式返还。</span>如因系统问题造成延迟，可随时与客服代表联系。
        </p>
    </div>
   <script src="../../assets/js/jquery.min.js"></script>
   <script src="../../assets/js/amazeui.min.js"></script>
   <script src="../../assets/js/jquery.touch.js" type="text/javascript" charset="utf-8"></script>
   <script src="../../assets/js/main.js"></script>
</body>
<script type="text/javascript">
var idget=location.search.split("=")[1];
$(".link").attr("href","../presonalcenter.html?user="+idget);
</script>
</html>